<template>


  <header class="main_menu home_menu" v-scroll="headerScroll">
    <b-container fluid="fluid">
      <b-row class="justify-content-center" >
        <b-col lg="11">
          <b-navbar type="light" toggleable="lg">
            <b-navbar-brand to="/">
              <img src="~assets/img/logo.png" alt="logo">
            </b-navbar-brand>

 <!--  кнопка менюшки при маленьком екране -->
            <b-navbar-toggle target="navbarSupportedContent">
              <template v-slot:default>
                <b-icon icon="list" variant="primary"></b-icon>
              </template>
            </b-navbar-toggle>

<!--              менюшка-->
            <b-collapse class="main-menu-item" id="navbarSupportedContent" is-nav>

              <b-navbar-nav>
                <b-nav-item to="#">Home</b-nav-item>


              <b-nav-item-dropdown text="Shop">
                  <b-dropdown-item class="dropdown-item" to="#">shop category</b-dropdown-item>
                  <b-dropdown-item class="dropdown-item" to="#">product details</b-dropdown-item>
              </b-nav-item-dropdown>

              <b-nav-item-dropdown text="Pages">
                  <b-dropdown-item class="dropdown-item" to="#">tracking</b-dropdown-item>
                  <b-dropdown-item class="dropdown-item" to="#">product checkout</b-dropdown-item>
                  <b-dropdown-item class="dropdown-item" to="#">phopping cart</b-dropdown-item>
                  <b-dropdown-item class="dropdown-item" to="#">confirmation</b-dropdown-item>
                  <b-dropdown-item class="dropdown-item" to="#">elements</b-dropdown-item>
              </b-nav-item-dropdown>

              <b-nav-item-dropdown text="Blog">
                  <b-dropdown-item class="dropdown-item" to="#">blog</b-dropdown-item>
                  <b-dropdown-item class="dropdown-item" to="#">Single blog</b-dropdown-item>
              </b-nav-item-dropdown>
                <b-nav-item to="#">Contact</b-nav-item>
              </b-navbar-nav>

            </b-collapse>

<!-- кнопка корзины и поиска -->
          <div class="d-flex hearer_icon">
            <div class="dropdown cart">
              <nuxt-link clas="dropdown-toggle" to="/"><i class="ti-bag"></i></nuxt-link>
            </div>
            <div class='ml-5' @click="sBC"><i class="ti-search"></i></div>
          </div>
          </b-navbar>
        </b-col>

      </b-row>
    </b-container>

<!-- search form -->
    <transition name="fadeSearchBar">
    <b-col
      v-show="showSearch"
      class="search_input"
      id="search_input_box"
    >
      <b-container>
         <b-form
           class="d-flex justify-content-between search-inner"
           @submit.prevent=""
         >
             <b-form-input
              type="text"
              class="form-control"
              id="search_input"
              placeholder="Search Here"
             ></b-form-input>
             <span class="ti-close" @click="sBC" title="Close Search"></span>
         </b-form>
      </b-container>
    </b-col>
    </transition>

  </header>




</template>

<script>
  export default {
    data(){
      return {
        showSearch: false
      }
    },
  methods: {
      sBC: function(){
        this.showSearch = !this.showSearch
      },
    headerScroll: function(evt, el){
      const className = el.className
      let checkClassName =  className.search('menu_fixed')
      if (window.scrollY > 50 && checkClassName === -1){
        el.setAttribute('class', `${className} menu_fixed animated fadeInDown`)
      }else if (window.scrollY <= 50 && checkClassName > -1) {
        el.setAttribute('class', `main_menu home_menu`)
      }
    }

  },
  }
</script>

<style scoped>
  .fadeSearchBar-leave-active,
  .fadeSearchBar-enter-active {
    transition: opacity 0.5s;
 }
  .fadeSearchBar-enter,
  .fadeSearchBar-leave-to
  {
    opacity: 0;
   /*transform: translateY(30px);*/
 }

</style>
