<template>
  <div>
    <nav-bar />
    <b-col>
      <ul>
        <li class="mt-5">1</li>
        <li class="mt-5">1</li>
        <li class="mt-5">1</li>
        <li class="mt-5">1</li>
        <li class="mt-5">1</li>
        <li class="mt-5">1</li>
        <li class="mt-5">1</li>
        <li class="mt-5">1</li>
        <li class="mt-5">1</li>
        <li class="mt-5">1</li>
        <li class="mt-5">1</li>
        <li class="mt-5">1</li>
        <li class="mt-5">1</li>
        <li class="mt-5">1</li>
        <li class="mt-5">1</li>
        <li class="mt-5">1</li>
        <li class="mt-5">1</li>
        <li class="mt-5">1</li>
        <li class="mt-5">1</li>
        <li class="mt-5">1</li>
        <li class="mt-5">1</li>
        <li class="mt-5">1</li>
        <li class="mt-5">1</li>
        <li class="mt-5">1</li>
        <li class="mt-5">1</li>
        <li class="mt-5">1</li>
        <li class="mt-5">1</li>
        <li class="mt-5">1</li>
        <li class="mt-5">1</li>
        <li class="mt-5">1</li>

      </ul>
    </b-col>
  </div>
</template>

<script>
import NavBar from "@/components/NavBar";
export default {
  components:{
     NavBar
  },

}
</script>

<style scoped>

</style>
